<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blox Fruits Combos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <video autoplay loop muted plays-inline class="back-video">
            <source src="{{url_for('static', filename='img/BF-Back-VideoFull.mp4')}}" type="video/mp4">
        </video>
    
        <div class="hero">
            <nav>
                <a href="https://www.roblox.com/games/2753915549/Blox-Fruits" target="_blank">
                    <img src="{{url_for('static', filename='img/Site-logo.png')}}" class="logo" title="Blox Fruits Game link">
                </a>
