<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <main id="main">
        <div class="profile-picture">
            <img src="../static/img/Site-logo.png" alt="User's Profile IMG">
            <div class="edit-icon">
                <i class="bi bi-pencil"></i>
            </div>

            <div class="bio-container">
                <h2 class="bio-title">Bio</h2>
                <textarea id="bio-description" placeholder="Add a Bio"></textarea>
            </div>
        </div>

        <h2 class="edit-description">Bio</h2>
        <textarea id="profile-description"></textarea>
        <div class="edit-settings">
            <form>
                <h2 id="user-nickname" class="edit-title">Edit Nickname</h2>
                <input id="nickname" type="text" name="user-name" placeholder="Nickname" maxlength="15" required>
            </form>
        </div>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
