body {
    background-color: #f7f3f3;
}

#main h2 {
    margin-left: 2.1rem;
}

.content h3 {
    font-size: 20px;
    margin-left: 13px;
}

.content {
    width: 890px;
    display: flex;
    margin-top: 27px;
    margin-bottom: 20px;
}

.combo p {
    display: inline;
}

.combo img {
    width: 10%;
    margin-left: 0.8rem;
}
